<div class="backdrop" ui-sref="^"></div>

<div class="inner-container" go-back>

    <div class="custom-modal">
        <div class="modal-dialog">
            <div class="modal-content animated rollIn">

                <div class="modal-header">
                    <div class="fa fa-arrow-left btn btn-default back-button" ng-if="withButton" ng-click="onBackClick()"></div>
                    {{unit.name}}
                </div>

                <div class="modal-body" ng-class="{ preview: unit.preview }">
                    <div ng-if="unit.incomplete && !unit.preview" class="alert alert-danger">
                        This unit's information is still partially missing.
                    </div>

                    <div class="slot huge" decorate-slot big="true" uid="unit.number + 1"></div>

                    <div ng-if="unit.preview" class="alert alert-warning">
                        <b>WARNING:</b> Currently viewing the preview of an upcoming unit not yet released, the information provided may not be accurate.
                    </div>



                    <div ng-if="details.obtain">
                      <blockquote>
                        <b>Obtained From:</b>
                        <div>{{details.obtain}}</div>
                      </blockquote>
                    </div>

                    <div class="panel panel-default stats-pane">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th ng-if="!hybrid">Affiliation</th>
                                    <th ng-if="hybrid">Affiliation 1</th>
                                    <th ng-if="hybrid">Affiliation 2</th>
                                    <th>Type</th>
                                    <th>Rarity</th>
                                    <th>Base Cost</th>
                                </tr>
                                <tr>
                                    <td ng-if="!hybrid"><img src="img/affi/{{unit.affil}}.png" title="{{unit.affil}}"></td>
                                    <td ng-if="hybrid"><img src="img/affi/{{unit.affil[0]}}.png" title="{{unit.affil[0]}}"></td>
                                    <td ng-if="hybrid"><img src="img/affi/{{unit.affil[1]}}.png" title="{{unit.affil[1]}}"></td>
                                    <td><img src="img/type/{{unit.type}}.png" title="{{unit.type}}"></td>
                                    <td><img src="img/rarity/{{unit.stars}}.png" title="{{unit.type}}"></td>
                                    <td>{{unit.cost}}</td>
                                </tr>
                                <tr>
                                    <th>Range</th>
                                    <th>Chakra</th>
                                    <th>Max Level</th>
                                    <th colspan="{{hybrid ? 2 : 1}}">Normal Hit Count</th>
                                    <!--<th colspan="{{hybrid ? 2 : 1}}">EXP to Max</th>-->
                                </tr>
                                <tr>
                                    <td>{{unit.range}}</td>
                                    <td ng-if="unit.stars == 6 || unit.stars == 61">{{unit.chakra}}/{{unit.chakra*2}}</td>
                                    <td ng-if="unit.stars != 6 && unit.stars != 61">{{unit.chakra}}</td>
                                    <td>{{unit.maxLevel}}</td>
                                    <td>{{details.hit}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <uib-tabset>
                        <uib-tab heading="Normal">
                          <h3 class="page-header">Status</h3>
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Level</th>
                                        <th>HP</th>
                                        <th>ATK</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td ng-if="limitbreak && unit.stars == 5">70</td>
                                        <td ng-if="limitbreak && unit.stars == 6 || unit.stars == 61">100</td>
                                        <td ng-if="!limitbreak">{{unit.maxLevel}}</td>
                                        <td>{{unit.maxHP | number}}</td>
                                        <td>{{unit.maxATK | number}}</td>
                                    </tr>
                                    <tr ng-if="limitbreak">
                                        <td>Limit Break ({{unit.maxLevel}})</td>
                                        <td>{{unit.limitHP | number}}</td>
                                        <td>{{unit.limitATK | number}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <h3 class="page-header">Skills</h3>

                            <div class="panel panel-default">
                                <table class="table table-striped-column abilities">
                                    <tbody>
                                        <tr>
                                            <td>Field Skill</td>
                                            <td>
                                                <add-field></add-field>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Buddy Skill</td>
                                            <td>
                                                <add-buddy></add-buddy>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Jutsu<div ng-if="details.jutsuHit || details.jutsuHit == 0">{{details.jutsuHit}} Hit Count</div></td>
                                            <td>
                                                <strong class="jutsuName" ng-if="details.jutsuName">{{details.jutsuName}}</strong>
                                                <div ng-bind-html="details.jutsu | decorate"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Ultimate Jutsu<div ng-if="details.ultHit">{{details.ultHit}} Hit Count</div></td>
                                            <td>
                                                <strong class="ultName" ng-if="details.ultName">{{details.ultName}}</strong>
                                                <div  ng-bind-html="details.ult | decorate"></div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="panel panel-default">
                                <table class="table table-striped-column abilities">
                                    <tbody>
                                        <tr>
                                            <td>Abilties</td>
                                            <td>
                                                <add-abilities></add-abilities>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div ng-if="details.sync" class="panel panel-default">
                                <table class="table table-striped-column abilities">
                                    <tbody>
                                        <tr>
                                            <td>Sync Skills</td>
                                            <td>
                                                <add-sync></add-sync>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </uib-tab>
                        <uib-tab heading="PvP" ng-if="!unit.incomplete">
                          <h3 class="page-header">Status (PVP)</h3>
                          <table class="table table-striped table-bordered">
                              <thead>
                                  <tr>
                                      <th>Level</th>
                                      <th>HP</th>
                                      <th>ATK</th>
                                      <th>SPD</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                    <td ng-if="limitbreak && unit.stars == 5">70</td>
                                    <td ng-if="limitbreak && unit.stars == 6 || unit.stars == 61">100</td>
                                    <td ng-if="!limitbreak">{{unit.maxLevel}}</td>
                                      <td>{{unit.pvpHP | number}}</td>
                                      <td>{{unit.pvpATK | number}}</td>
                                      <td>{{unit.pvpSPD | number}}</td>
                                  </tr>
                                  <tr ng-if="limitbreak">
                                      <td>Limit Break ({{unit.maxLevel}})</td>
                                      <td>{{unit.limitHPPVP | number}}</td>
                                      <td>{{unit.limitATKPVP | number}}</td>
                                      <td>{{unit.limitSPD | number}}</td>
                                  </tr>
                              </tbody>
                          </table>

                          <h3 class="page-header">Skills (PVP)</h3>

                          <div class="panel panel-default">
                              <table class="table table-striped-column abilities">
                                  <tbody>
                                      <tr>
                                          <td>Field Skill</td>
                                          <td>
                                              <add-field></add-field>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>Buddy Skill</td>
                                          <td>
                                              <add-buddy></add-buddy>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>Jutsu<div ng-if="details.PVPjutsuHit">{{details.PVPjutsuHit}} Hit Count</div>
                                          <div ng-if="!details.PVPjutsuHit">{{details.jutsuHit}} Hit Count</div></td>
                                          <td>
                                              <strong class="PVPjutsuName" ng-if="details.PVPjutsuName">{{details.PVPjutsuName}}</strong>
                                              <strong class="PVPjutsuName" ng-if="!details.PVPjutsuName">{{details.jutsuName}}</strong>
                                              <div ng-if="details.PVPjutsu" ng-bind-html="details.PVPjutsu | decorate"></div>
                                              <div ng-if="!details.PVPjutsu" ng-bind-html="details.jutsu | decorate"></div>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>Ultimate Jutsu<div ng-if="details.ultHit">{{details.ultHit}} Hit Count</div></td>
                                          <td>
                                              <strong class="PVPultName" ng-if="details.PVPultName">{{details.PVPultName}}</strong>
                                              <strong class="PVPultName" ng-if="!details.PVPultName">{{details.ultName}}</strong>
                                              <div ng-if="details.PVPult" ng-bind-html="details.PVPult | decorate"></div>
                                              <div ng-if="!details.PVPult" ng-bind-html="details.ult | decorate"></div>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>

                          <div class="panel panel-default">
                              <table class="table table-striped-column abilities">
                                  <tbody>
                                      <tr>
                                          <td>Abilties</td>
                                          <td>
                                              <add-pvp-abilities></add-pvp-abilities>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>

                          <div ng-if="details.sync" class="panel panel-default">
                              <table class="table table-striped-column abilities">
                                  <tbody>
                                      <tr>
                                          <td>Sync Skills</td>
                                          <td>
                                              <add-pvp-sync></add-pvp-sync>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>

                        </uib-tab>
                    </uib-tabset>

                    <!-- Evolutions -->

                    <h3 class="page-header" ng-if="evolution.evolution" ng-hide="hidden.evolution">Awakening Materials</h3>

                    <table class="table table-striped table-centered table-bordered table-textless"
                            ng-if="evolution.evolution && !evolution.evolution.length" ng-hide="hidden.evolution">
                        <tbody>
                            <tr>
                                <td><evolution unit="unit" evolvers="evolution.evolvers"
                                    evolution="evolution.evolution" size="medium"></evolution></td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Evolves from -->

                    <h3 class="page-header" ng-if="evolvesFrom.length > 0" ng-hide="hidden.evolutionFrom">Evolves From</h3>

                    <table class="table table-striped table-centered table-bordered table-textless"
                            ng-if="evolvesFrom.length > 0" ng-hide="hidden.evolutionFrom">
                        <tbody>
                            <tr ng-repeat="data in evolvesFrom">
                                <td>
                                    <evolution unit="unit" base="data.from" evolvers="data.via" evolution="data.to" size="medium"></evolution>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Other Names -->

                    <h3 class="page-header">Other Names</h3>

                    <add-names class="aliases"></add-names>

                    <!-- Tags -->

                    <h3 class="page-header">Tags</h3>

                    <add-tags></add-tags>

                </div>

            </div>
        </div>

    </div>

</div>
